// 添加背景图片
body {
      // background: #3d3d3d;  //自己喜欢的图片地址
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-attachment: fixed;
      // background-position: 50% 50%;
}

// 修改主体透明度
.main-inner {
      //background: #fff;
      opacity: 0.9;
}

// 修改菜单栏透明度
.header-inner {
      //opacity: 0.9;
}

p { margin: 0 0 10px 0; }