// 添加背景图片
//body {
      //background: url("https://oss.smart-lifestyle.cn/file/vz6vc.jpg");  //自己喜欢的图片地址https://oss.smart-lifestyle.cn/file/ouot5.jpg
      //background-size: cover;
      //background-repeat: no-repeat;
      // background-attachment: fixed;
      // background-position: 50% 50%;
//}
body {
  background-image:url("https://oss.smart-lifestyle.cn/file/sclqj.jpeg");
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:cover;
}


// 修改主体透明度
.main-inner {
      //background: #fff;
      opacity: 1;
}

// 修改菜单栏透明度
.header-inner {
      opacity: 1;
}

p { margin: 0 0 10px 0; }

.footer-inner {
      color: #f5f5f5
}

.footer-inner > .theme-link {
      color: #f5f5f5
}
